[user]
	email = eagle-ice@163.com
	name = eagle_ice
[color]
    ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    d = difftool
    m = mergetool
[core]
    editor = vim
	quotepath = false
[diff]
    tool = vimdiff
[difftool]
    prompt = true
[merge]
    tool = vimdiff3
[mergetool]
    promtp = true
[gui]
	encoding = utf-8
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
